<div class="header-cont">
    <div class="logo-cont">
        <img class="logo-img" src="../../../assets/images/arlogo.png">
    </div>

    <nav class="navbar navbar-expand-sm navbar-light bg-light nav-bar-cont">
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="nav-bar">
              <span class="nav-item" (click)="navScroll(1)">
                  About
              </span>
              <span class="nav-item" (click)="navScroll(2)">
                  Products
              </span>
              <span class="nav-item" (click)="navScroll(3)">
                  Podcast
              </span>
              <span class="nav-item" (click)="navScroll(4)">
                  Contact
              </span>
           </div>
          </div>
        
        <button class="navbar-toggler visible-xs visible-sm nav-bar-toggle-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true">
          </span>
        </button>
      
    </nav>
    
</div>

