<div class="body-cont">
    <!--
        <img src="../../../assets/images/stretchingMan.jpg" class="landing-img">
    -->
    
    <div class="landing-img">
        <div class="landing-img-txt">
            <h2>
                Good Bye Injuries,
            <br>
                Hello Recovery!
            </h2>
            
            <p class="landing-img-par">
                Athletic Recovery and Performance&#8482; is all about bringing you the most cutting edge sports recovery technology avaible on the market.  
            </p>
            <p class="landing-img-par">
                Check out our products to see if you can improve you game and pass the competition!
            </p>
            <p class="landing-img-par">
                Want to stay in tune with soprts recovery news? 
                Check out our podcast to listen in and see whats changing in the buisness
            </p>
        </div>
    </div>

    <div class="products-cont">
        <div class="products-header">
            <h1>
                Products
            </h1>
        </div>
        <div class="products-flex">
            <div class="product-item">
                <img class="product-img" src="../../../assets/images/ff_device.png">
                <h1 class="product-title">Firefly</h1>
            </div>
        
            <div class="product-item">
                <img class="product-img" src="../../../assets/images/geko_device.png">
                <h1 class="product-title">Geko</h1>
            </div>
            <div class="product-item">
                <img class="product-img" src="../../../assets/images/nice_device.jpg">
                <h1 class="product-title">Nice Recovery</h1>
            </div>
            <div class="product-item">
                <img class="product-img" src="../../../assets/images/blg_active.jpg">
                <h1 class="product-title">BLG Active</h1>
            </div>
            <div class="product-item" style="background-color: rgb(219, 219, 219);">
                <img class="product-img" src="../../../assets/images/thera_gun.webp">
                <h1 class="product-title">Thera Gun</h1>
            </div>
        </div>
    </div>
</div>