.body-cont{
    margin-top: 150px;
    width: 100%;
}

.landing-img{
    width: 100%;
    background-image: url("../../../assets/images/stretchingMan.jpg");
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    background-position: left;
}


.landing-img-txt{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.45);
    width: 80%;
    margin-left: 10%;
    border: solid black 2px;
    border-radius: 15px;
}

.landing-img-par{
    font-size: 20px;
}

.products-cont{
    width: 100%;
}

.products-header{
    
}

.product-item{
    width: 300px;
    height: 300px;
    position: relative;
    border: solid black 1px;
    background-color: white;
    z-index: -2;
}

.product-img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: contain;
   z-index: -1;
}

.products-flex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-title{
    background-color: rgba(255, 255, 255, 0.85);
    border-bottom: solid black 1px;
    z-index: 1;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
@media screen and (max-width: 600px) {

    .body-cont{
        margin-top: 100px;
        width: 100%;
    }

}