.body-cont{
    width: 100%;
}

.landing-img{
    width: 100%;
    background-image: url("../../../assets/images/stretchingMan.jpg");
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    background-position: left;
}


.landing-img-txt{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.45);
    width: 80%;
    margin-left: 10%;
    border: solid black 2px;
    border-radius: 15px;
}


.landing-img-par{
    font-size: 20px;
}

.products-cont{
    width: 100%;
}


.products-header{
    padding: 75px;
    background-color: white;
}

.products-header-txt{
    
    width: min-content;
    margin-left: auto;
    margin-right: auto;
}

.product-item{
    width: 400px;
    height: 400px;
    position: relative;
    border: solid var(--logo-dark) 3px;
    border-radius: 25px;
    overflow: hidden;
    background-color: white;
    z-index: 4;
    transition: 1s;
    padding-left: 10px;
    padding-right: 10px;
    margin: 50px;
}


.product-item::before{
    content:"This is the product description";
    font-size: 25px;
    position: absolute;
    top: -200px;
    left: 0;
    width: 100%;
    text-align: center;
    transition:0.7s;
    z-index: -2;
    background-color: rgba(255, 255, 255, 0.85);
}

.product-item:hover::before{
    top: 70px;
}

#item-firefly::before{
    content: "A cutting edge post-workout recovery device. Portable and convenient. Used and loved by pro athletes and trainers. "
}

#item-geko::before{
    content: "A small device that uses electrical impulses to naturally increase your bodies bloodflow. If suffer from lower limb blood curculation, this is the device for you! " 
}

#item-nice::before{
    content: "Cold Compression Therapy wherever you need it! No ice required!"
}

#item-blg::before{
    content: "Boost Skin repair with this spray! Caters to athletes and the adventurous. "
}

#item-thera::before{
    content: "Treat yourself to an effective full body massage ande recovery with the Theragun !";
    background-color: rgba(219, 219, 219, 0.85);;
}

.product-img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: contain;
   z-index: -3;
   transition: 0.7s;
}



.products-flex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: 1s;
    background-image: linear-gradient(to bottom right,  var(--logo-dark),var(--main-bg), var(--logo-light), var(--main-bg-lighter), var(--logo-light), var(--main-bg));
}


.product-title{
    background-color: rgba(255, 255, 255, 0.85);
    color: var(--logo-light);
    font-weight: bold;
    border-bottom: solid var(--logo-light) 3px;
    z-index: 2;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    transition: 1;
}

.button-flex{
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.detail-button{
    position: relative;
    color: white;
    background-color: var(--main-bg-light);
    border: none;
    font-size: 20px;
    border-radius: 7px;
    padding: 8px;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;

}

.shop-button{
    position: relative;
    color: white;
    background-color: var(--main-bg-light);
    border: none;
    font-size: 20px;
    border-radius: 7px;
    padding: 8px;
    overflow: hidden;
    z-index: 1;
}

.detail-button:hover{
    background-color: var(--main-bg);
}


.shop-button:hover{
    background-color: var(--main-bg);
}

.podcast-flex{
    width: 100%;
    display: flex;
    justify-content: center;
   
    flex-wrap: wrap;
    background-color: white;
}

.podcast-cont{
    background-color: white;
}

.podcats-button-cont{
    padding-top: 100px;
    padding-bottom: 100px;
}


.podcast-details{
    font-size: 20px;
}

.podcast-img{
    width: 90%;
    min-width: 300px;
    border-radius: 40px;
    box-shadow:  7.5px 7.5px 7.5px grey;
}

.podcast-details-flex{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}


.contact-cont{
    background-color: white;
    background-image: url("../../../assets/images/buisness-meeting.jpg");
    background-size: cover;
    padding-bottom: 100px;
}

.contact-header{
    width: 100%;
    color: white;
    padding-top: 20px;
}


.contact-header-two{
    margin-top: 50px;
    margin-bottom: 50px;
}


.contact-form{
    background-color: white;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border: solid black 2px;
    text-align: left;
    box-shadow: 5px 5px 5px grey;
}

.form-field{
    display: flex;
    flex-direction: column;
}

.form-label{
    padding-left: 10px;
    padding-top: 10px;
}

.form-text{
    margin: 10px;
}

.form-message{
    margin: 10px;
    height: 100px;
}

.contact-submit{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 600px) {

    .body-cont{
        margin-top: 100px;
        width: 100%;
    }

    .product-item{
        width: 300px;
        height: 400px;
        margin-left: 0;
        margin-right: 0;
    }

    .product-item::before{
        font-size: 20px;
    }

    .contact-form{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        border: solid black 2px;
        text-align: left;
        box-shadow: 5px 5px 5px grey;
    }

    .form-text{
        margin: 15px;
    }
    
    .form-message{
        margin: 15px;
        height: 100px;
    }

    .podcast-details{
        font-size: 14px;
    }
}