<div class="body-cont">
    <!--
        <img src="../../../assets/images/stretchingMan.jpg" class="landing-img">
    -->
 
    <div class="landing-body" id="about">
            
            <div class="img-header" data-aos="fade-down" data-aos-duration="2500">
                <h1 class="img-header-txt">
                    Where evidence based medicine <br> and performance combine
                </h1>
            </div>
            <div class="img-header" >
                <h1 class="img-header-sub-text">
                    Scroll to learn more
                </h1>
            </div>
            
            
    </div>

    <div class="follow-up-container">

        <div class="slanted-img-containter" data-aos="fade-right" data-aos-duration="1000">
            <img class="slanted-img" src="../../../assets/images/man-running.png">
        </div>
        <div class="img-txt" data-aos="fade-left" data-aos-duration="1000">

            <p>
                <b><i>Athletic Recovery and Performance</i></b> is all about bringing you the most cutting edge sports recovery technology available on the market.  
            </p>
            <p>
                Check out our products to see if you can improve you game and pass the competition!
            </p>
            <p>
                Want to stay in tune with sports recovery news? 
                Check out our podcast to listen in and see whats changing in the industry
            </p>
            

        </div>
    </div>
    <div class="follow-up-container-mobile" data-aos="fade-right" data-aos-duration="1000">
        <p>
            <b><i>Athletic Recovery and Performance</i></b> is all about bringing you the most cutting edge sports recovery technology available on the market.  
        </p>
        <p>
            Check out our products to see if you can improve you game and pass the competition!
        </p>
        <p>
            Want to stay in tune with sports recovery news? 
            Check out our podcast to listen in and see whats changing in the industry
        </p>
    </div>

    <div class="products-cont" id=products>
        <div class="products-header">
            <h1 class="products-header-txt">
                Products
            </h1>
        </div>
         
        <div class="products-flex">
            <div class="product-item" id="item-firefly" data-aos="zoom-in" data-aos-duration="800">
                
                <img class="product-img" src="../../../assets/images/ff_device.png">
                
                <h1 class="product-title">firefly&trade;</h1>
                <div class="button-flex">
                    <button class="detail-button">
                        Learn More
                    </button>
                    
                </div>
            </div>

            <div class="product-item" id="item-nice" data-aos="zoom-in" data-aos-duration="800">
                <img class="product-img" src="../../../assets/images/nice_device.jpg">
                <h1 class="product-title">NICE1 </h1>
                <div class="button-flex">
                    <button class="detail-button">
                        Learn More
                    </button>
                    
                </div>
            </div>
        
            <div class="product-item" id="item-geko" data-aos="zoom-in" data-aos-duration="800">
                <img class="product-img" src="../../../assets/images/geko_device.png">
                <h1 class="product-title">geko&trade;</h1>
                <div class="button-flex">
                    <button class="detail-button">
                        Learn More
                    </button>
                   
                </div>
            </div>
            
            <div class="product-item" id="item-blg" data-aos="zoom-in" data-aos-duration="800">
                <img class="product-img" src="../../../assets/images/blg_active.jpg">
                <h1 class="product-title">BLG Active</h1>
                <div class="button-flex">
                    <button class="detail-button">
                        Learn More
                    </button>
                    
                </div>
            </div>
            <div class="product-item" id="item-thera" style="background-color: rgb(219, 219, 219);" data-aos="zoom-in" data-aos-duration="800">
                <img class="product-img" src="../../../assets/images/thera_gun.webp">
                <h1 class="product-title" style="background-color: rgba(219, 219, 219, 0.85);"> Theragun </h1>
                <div class="button-flex">
                    <button class="detail-button">
                        Learn More
                    </button>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="podcast-cont" id="podcast">
        <div class="products-header">
            <h1 class="products-header-txt">
                Our Podcast!
            </h1>
        </div>
        <div class="podcast-flex">
            <div class="podcast-img-cont">
                <img class="podcast-img" src="../../../assets/images/podcast.jpg">
            </div>
            
            <div class="podcast-details-flex">
                <h1 stlye="font-size: 45px;" data-aos="fade-down" data-aos-duration="800"> Join the Conversation!</h1>
                <p class="podcast-details" data-aos="fade-down" data-aos-duration="800" data-aos-delay="400">
                    Join Anthony Kjenstad, the founder of Athletic Recovery and Performance, 
                    in creating awareness of technologies and products developed for athletes to reach their optimal performance. Listen in as Anthony gets to work with coaches, trainers, sports scientists, physicians and the elite athletes themselves. He dives into what helps them perform at a high level and divulge some secrets to their craft, 
                    while also focusing on learning more of how the technologies he represents can also help them.
                </p>
            </div>
        </div>
        <div class="podcats-button-cont">
            <a class="detail-button" href="https://www.buzzsprout.com/1071205">
                Listen Here!
            </a>
        </div>
    </div>

    <div class="contact-cont">
        <div class="contact-header">
            <h1 class="contact-header-one">
                Questions?
            </h1>
            <h1 class="contact-header-two">
                Get in Touch!
            </h1>
        </div>
        <form class="contact-form">
            <div class="form-field">
                <label class="form-label">First Name:</label>
                <input type="text" class="form-text"> 
            </div>
            <div class="form-field">
                <label class="form-label"> Last Name:</label>
                <input type="text" class="form-text">
            </div>
            <div class="form-field">
                <label class="form-label">Email:</label>
                <input type="email" class="form-text">    
            </div>
            <div class="form-field">
                <label class="form-label">Message:</label>
                <textarea type="text"  rows="5" cols="60" maxlength="250" class="form-text">
                </textarea>
            </div>
            <div class="contact-submit">
                <button type="submit" class=" detail-button">
                    Submit
                </button>
            </div>
            
        </form>
    </div>
</div>